# frozen_string_literal: true

# Ignore bundler config.
/.bundle

# Ignore tmp directory completely
tmp/

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore environment files
.env
.env.*
!.env.example
!.env.test.example

# Ignore coverage reports
/coverage

# rspec failure tracking
.rspec_status

# IDE files
.idea

# Dependencies
Gemfile.lock